/* GENERICS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* UTILS */
.text-grey{
    color: grey;
}
.text-white{
    color: white;
}
/* LOGO */
#logo{
    height: 50px;
}
/* LISTA */
li,a{
    color: grey;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}
/* SECTION */
.yoga{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    border-radius: 20px;
}
.text-image{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 50%;
    padding: 30px;
    position: absolute;
    bottom: 10px;
}

header{
    margin-bottom: 20px;
}
section{
    margin-bottom: 20px;
}
main{
    height: 600px;
    margin-bottom: 10px;
}
.footer{
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
}
.or-block{
    margin-bottom: 20px;
}
.col{
    float: left; 
}

.row{
    position: relative;
    
}
.w-25{
    width: 23%;
}
.w-50{
    width: 50%;
    margin: 0 20px;
}
.img-w-25sx{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/img-1.jpg);
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.img-w-25dx{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/img-3.jpg);
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.img-w-50{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/banner-2.jpg);
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.text-generics{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 10px 0;
}
#hearts{
    font-size: 20px;
    color: red;
}